App/*.sln
App/.vs/
App/Binaries/
App/Builder/Utilities/LinuxTestsVagrant/.vagrant/
App/Code/*.make
App/Code/*/build/
App/Code/Makefile
App/Code/AppAndroid/GradleBuild/.gradle/
App/Code/AppAndroid/GradleBuild/assets/Data/
App/Code/AppAndroid/GradleBuild/bin/
App/Code/AppAndroid/GradleBuild/build/
App/Code/AppAndroid/GradleBuild/gen/
App/Code/AppAndroid/GradleBuild/gradle/wrapper/*.zip
App/Code/AppAndroid/GradleBuild/libs*
App/Code/AppAndroid/GradleBuild/obj*
App/Data/*.dat
App/Data/*.sar
App/Data/*.zip
App/Data/Content*
App/Data/Log/*
App/Intermediate/
App/Lib/
App/Source/Authored/Sound/.*/
App/Source/CookerLock.txt
App/Source/Generated*/
App/Utilities/undo-log.txt
External/**/build/
External/FxStudio/Binaries/
External/FxStudio/Intermediate/
External/FxStudio/Lib/
External/FxStudio/Source/Designer/.vs/
External/FxStudio/Source/Designer/Binaries/
External/FxStudio/Source/Designer/Intermediate/
External/FxStudio/Source/Runtime/build/
/Intermediate/
/Lib/
SeoulEditor/*.sln
SeoulEditor/.vs/
SeoulEditor/Binaries/
SeoulEditor/Data/Log/*
SeoulEditor/Intermediate/
SeoulEditor/Lib/
SeoulEngine/Code/AndroidJava/.d
SeoulEngine/Code/AndroidJava/bin/
SeoulEngine/Code/AndroidJava/gen/
SeoulEngine/Code/AndroidJava/libs/
SeoulEngine/Code/*/build/
SeoulEngine/Intermediate/
SeoulEngine/Lib/
SeoulTools/*.sln
SeoulTools/.vs/
SeoulTools/Binaries/
SeoulTools/Intermediate/
SeoulTools/Lib/
Server/bin
Server/pkg
*xcuserdata/
*.DS_Store
*.aps
*.fdb
*.pyc
*.sw[op]
*.user
.vscode/